* {
  margin: 0;
  padding: 0;
}
button {
    margin: auto;
    }
.App {
  text-align: center;
  background-image: url(../public/img/WhiteBrick.jpeg);
  background-size: 100%;
  min-height: 100vh;
}
.tool-card,
.job-card,
.truck-card{
  background-color: rgba(46, 75, 75, 0.6);
  border: 3px solid rgb(11, 50, 17);
  padding: 10px;
  margin: 8px;
  text-shadow: 2px 1px #000000;
  color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.nav a {
  display:flex;
  flex-direction: row;
  float: left;
  width: 25%;
  text-align: center;
  color: rgb(8, 61, 81);
  font-weight: 700;
  /* text-shadow: 2px 2px #335fbd; */
  justify-content: space-around;
  margin-bottom: 25px
  
}
.nav a:hover {
  font-weight: bold;
  background-color: grey
}
/* .popBox {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
